* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/*fine reset */
/*inizio scrittura*/

/*inizio prima riga */
.col-1 p {
  text-align: center;
  line-height: 200px;
}
/*fine prima riga */
/*inizio seconda riga */
.col-12 p {
  text-align: center;
  line-height: 200px;
}
/*fine seconda riga */
/*inizio terza riga */
.col-8 p {
  text-align: center;
  line-height: 200px;
}
.col-2 p {
  text-align: center;
  line-height: 200px;
}
/*fine terza riga */
/*inizio quarta riga */
.col-6 p {
  text-align: center;
  line-height: 200px;
}
/*fine quarta riga */
/*inizio quinta riga*/
.parte-uno {
  width: 50%;
  background-color: blue;
  float: left;
  height: 200px;
  padding: 10px;
  border: 1px solid white;
}
.parte-uno >.col-8 {
  background-color: pink;
  height: 180px;
  border: 2px solid red;
}
.parte-uno>.col-2 {
  background-color: pink;
  height: 180px;
  border: 2px solid red;
}
.parte-due {
  width: 50%;
  float: left;
  background-color: blue;
  height: 200px;
  padding: 10px;
  border: 1px solid white;
}
.parte-due>.col-6 {
  background-color: pink;
  height: 180px;
  border: 2px solid red;
}
